<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ee1</title>
        
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="components/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="styles/main.css" rel="stylesheet" />
    </head>
    
    <body ng-app="Base">
        <div class="main">
          <div class="container" ui-view="content"></div>
        </div>
        
        <footer ui-view="footer"></footer>
        
        <script src="libs/lodash/dist/lodash.js"></script>
        <script src="libs/extend.js/index.js"></script>
        <script src="libs/fuse/src/fuse.js"></script>
        <script src="libs/angular/angular.js"></script>
        <script src="libs/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="libs/angular-virtual-scroll/angular-virtual-scroll.js"></script>

        <script src="data/main.js"></script>
        
        <script src="scripts/App.js"></script>
        <script src="scripts/Config.js"></script>
        
        <script src="scripts/Modules/Base.js"></script>
        
        <script src="scripts/Controllers/Intro.js"></script>
        <script src="scripts/Controllers/Home.js"></script>
        <script src="scripts/Controllers/Footer.js"></script>
        <script src="scripts/Controllers/Venues.js"></script>
        <script src="scripts/Controllers/Venue.js"></script>
        
        <script src="scripts/Models/Venue.js"></script>
        <script src="scripts/Mappers/Venues.js"></script>
        <script src="scripts/Services/Venues.js"></script>
                
    </body>
</html>
